body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#333;
    color: aliceblue;
}

.center{
    position: absolute;
    justify-items:center;
    left:10%;
    top:5%;
}